/* Use this style sheet to display products */

#container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
     gap: 30px;
    width: 90%;
  
  
  
    /* justify-content: space-evenly; */
    /* border: 2px solid red; */
  }
  
  .productImage {
    width: 250px;
  }
  
  .priceFlex {
    display: flex;
    /* border: 2px solid green; */
  }
  
  .productPrice {
    background-color: #ffe800;
    margin-left: 0.6rem;
    padding: 5px;
    font-weight: lighter;
    font-size: 0.8rem;
  }
  .productStrikedPrice {
    text-decoration: line-through;
    font-weight: lighter;
    padding: 5px 0;
    font-size: 0.7rem;
  }
  
  .productTitle {
    margin: 1rem 0 3px 0;
    text-align: left;
    font-size: 0.7rem;
    font-weight: 600;
  }
  
  .box {
  
  width: 250px;
  
  } 
  